.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: var(--color-primary);
    padding: 9px 15px;
    border-radius: 8px;
  }
  .btn-alt {
    background-color: #000;
  }