/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
    opacity: 1;
  }
  
  .custom-checkbox__field:focus + .custom-checkbox__content::before {
    outline: 2px solid #f00;
    outline-offset: 2px;
  }
  
  .custom-checkbox__field:disabled + .custom-checkbox__content {
    opacity: 0.4;
    pointer-events: none;
  }